In [8]:
import pandas as pd
url = "utf-8''Cartwheeldata.csv"

# Read the .csv file and store it as a pandas Data Frame
df = pd.read_csv(url)

# Output object type
type(df)

pandas.core.frame.DataFrame

In [9]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [10]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [17]:
df.loc[:,"GenderGroup"]

0     1
1     1
2     1
3     1
4     2
5     2
6     2
7     1
8     2
9     1
10    2
11    1
12    1
13    1
14    2
15    2
16    1
17    2
18    2
19    1
20    2
21    2
22    2
23    2
24    1
Name: GenderGroup, dtype: int64

In [18]:
df.loc[:,["ID","Age","Gender","GenderGroup","Glasses"]]

    ID  Age Gender  GenderGroup Glasses
0    1   56      F            1       Y
1    2   26      F            1       Y
2    3   33      F            1       Y
3    4   39      F            1       N
4    5   27      M            2       N
5    6   24      M            2       N
6    7   28      M            2       N
7    8   22      F            1       N
8    9   29      M            2       Y
9   10   33      F            1       Y
10  11   30      M            2       Y
11  12   28      F            1       Y
12  13   25      F            1       Y
13  14   23      F            1       N
14  15   31      M            2       Y
15  16   26      M            2       Y
16  17   26      F            1       N
17  18   27      M            2       N
18  19   23      M            2       Y
19  20   24      F            1       Y
20  21   23      M            2       Y
21  22   29      M            2       N
22  23   25      M            2       N
23  24   26      M            2       N
24  25   23      F            1       Y

In [19]:
df.GenderGroup.unique()

array([1, 2], dtype=int64)

In [20]:
df.groupby(['Gender','GenderGroup']).size()

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64